src/org/fife/rtext/plugins/project/rtext-workspace.dtd

<!-- DTD for workspaces. -->
<!ELEMENT workspace       (projects)>
<!ELEMENT projects        (project*)>
<!ELEMENT project         (project-entry*)>
<!ELEMENT project-entry   EMPTY>

<!ATTLIST project
      name      CDATA #REQUIRED>
<!ATTLIST project-entry
      name      CDATA #REQUIRED
      type      CDATA #REQUIRED>
